$graph-borders-color: rgba(0,0,0,.2);
$graph-axis-text-color: rgba(0,0,0,.6);
$graph-axis-font-size: 14px;
$graph-axis-size: 1.5px;
$graph-axis-tick-size: 1px;
$data-title-font-size: 16px;
$yr = 255;
$yg = 231;
$yb = 0;


#display-overlay {
  position:absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba($yr, $yg, $yb, .3);
}

body {
  background-color: rgb($yr, $yg, $yb);
  //background-color: black;
  margin: 0px;
  overflow: hidden;
}

.northlane-node-bg {
  $color2: #000;
  $color1: #000;
  background: $color1;
  background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
  background: -webkit-linear-gradient(top, $color1 0%,$color2 100%);
  background: linear-gradient(to bottom, $color1 0%,$color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
}

.tip-element {
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000;
  padding: 2px 15px 2px 5px;
}

.tip-title {
  font-size: 12px;
  margin-bottom: 2px;
}

.tip-attribute {
  font-size: 12px;
  margin: 0;
}

#overlay {
  // Die Applikation soll die auf Bewegung der Maus zugreifen können. Dieses
  // Attribut wird gebraucht.
  pointer-events: all;
}

#graph {

}

.domain {
  fill: none;
  stroke: $graph-borders-color;
  stroke-width: $graph-axis-size;
}

.tick > line {
  fill: none;
  stroke: $graph-borders-color;
  stroke-width: $graph-axis-tick-size;

}

.tick > text {
  fill: $graph-axis-text-color;
  font-size: $graph-axis-font-size;
}

circle.data-point {
  r: 2px;
}

circle#tooltip-circle {
  r: 7px;
  fill: rgba(0, 0, 0, .4);
}

#label > text {
  fill: black;
  font-weight: 400;
  font-size: $graph-axis-font-size;
}

#overlay {
  visibility: hidden;
}

.line {
  fill: none;
  stroke: rgba(0,0,0,.7);
  stroke-width: 2px;
}

.hidden {
  display: none;
}

#select-row {
  padding: 0 0 30px;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.select-row-item {
  color: #000;
  padding-bottom: 6px;
  margin: 12px 20px 0 0;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  border-color: #000;

  transition: all 0.2s cubic-bezier(.5,1,.8,1);

  user-select: none;
}

.select-row-item:hover {
  color: black;
  text-decoration: none;
}

.inactive {
  color: LightGray;
  border-color: #fff !important;
}

.toggle-title {
  margin-bottom: 8px;
}

.toggle {
  margin-top: 20px;
}

.btn{
  margin: 0 5px;
}

.btns {
  display:flex;
  justify-content: center;
}

.box {
    width:11px;
    height:11px;
    display:inline-block;
}

.red {
  background-color:red;
}
.green {
  background-color:green;
}
.blue {
  background-color:blue;
}

.divider {
  border-left:1px solid #000;
  width: 1px;
  margin: 0 5px;
}
